@model IEnumerable<ControleEstoque.Models.Movimentacao>

@{
	ViewData["Title"] = "Lista de Movimentações";
}

<div class="d-flex justify-content-between align-content-center">
	<h1>@ViewData["Title"]</h1>

	<p>

		<a class="btn btn-lg btn-secondary" asp-action="Create">Create New</a>
	</p>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				Nome do Produto
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Tipo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataMovimentacao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Observacao)
			</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Produto.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantidade)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tipo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataMovimentacao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Usuario.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Observacao)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.MovimentacaoId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.MovimentacaoId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.MovimentacaoId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
