@model FluxoCaixa.Models.FluxoConta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FluxoConta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMovimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaFinanceiraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaFinanceiraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FluxoContaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
